services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"

  web:
    build: .
    restart: always
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}
    ports:
      - "8080:8000"
    depends_on:
      - db
      - redis
    volumes:
      - ./app:/app/app

  celery_worker:
    build: .
    command: celery -A app.workers.celery_app worker --loglevel=info --pool=gevent --concurrency=20
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}
    depends_on:
      - db
      - redis
    volumes:
      - ./app:/app/app
      - ./cookies.txt:/app/cookies.txt

  celery_beat:
    build: .
    command: celery -A app.workers.celery_app beat --loglevel=info --schedule=/tmp/celerybeat-schedule
    env_file:
      - .env
    depends_on:
      - redis
    volumes:
      - ./app:/app/app

  flower:
    build: .
    command: celery -A app.workers.celery_app flower --port=5555
    env_file:
      - .env
    ports:
      - "5555:5555"
    depends_on:
      - redis
    volumes:
      - ./app:/app/app

volumes:
  postgres_data: